body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(V:/bgpics/coffee_cup.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 36px;
    line-height: 36px;
    background-color: transparent;
    font-size: 15px;
  }
  ul li{
   display: inline-block;
    border: 0.5px;
    transition: 0.6s ease;
  }
  ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 2px 12px;
  }
  a:hover, :active{
    background-color:palevioletred;
    color: #000;
  }
  .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .title h1{
    color: #fff;
    font-size:60px;
  }
  .button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    border: 1px solid#fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
  }
